<!doctype html>
<html xlmns:th="http://www.thymeleaf.org">
  <head>
    <title>Yes</title>
    <th:block th:replace="~{fragments :: styles}"></th:block>
  </head>
  <body>
    <header th:replace="~{fragments :: header}"></header>
    <div class="text-center container ">
      <h1 class="mt-5">Best Songs:</h1>
      <div class="mt-4 row justify-content-center">
        <th:block th:each="song : ${songs}">
          <th:block th:object="${song}">
            <div class="border border-black  py-2 col-9">
              <h2>[[*{title}]]</h2>
            </div></th:block
          ></th:block
        >
      </div>
    </div>
  </body>
</html>
